@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', sans-serif;
  --font-devanagari: 'Noto Sans Devanagari', sans-serif;
}

body {
  font-family: var(--font-sans);
}

.hindi {
  font-family: var(--font-devanagari);
}
